<% provide(:title, "About") %>

<h1>About Me</h1>
<ul class="ch-grid">
	<li>
<div class="ch-item ch-img-1">
			<div class="ch-info">
			<br>
				<h3>Anonymous</h3>
				<h5 style="margin: -45px; color: black;"><i>"The beauty of unity is only seen<br>when opression has reached <br>its limit."</i></h5>

			</div>
		</div>
	</li>
	</ul>
<br>
<div style="background:rgba(0,0,0,0.5);padding:10px 20px 10px 20px; color: white; border-radius: 5px;">
<p >
 	<b>Basic Info:<br></b>
 	My name is <b>Kyle Aljun Yap</b>, a 3rd-Year IT student studying in the University of San Carlos.
 	<br>Currently this is the first portfolio website I have made. Coincidentally, this is also my first time building a web application running on the framework of Ruby on Rails.
 	<br><br>I am now in my 20 years of existence. I have 3 other siblings and I am the second eldest among them. And yes, I feel very pressured because I am the eldest male in the family.
 	<br>My current status of relationship is single because of this quote:
 	<blockquote class="blockquote-reverse">
  <p class="mb-0">Aral muna bago landi!</p>
  <cite title="Source Title"> -by <b>Facebook</b></cite>
</blockquote>



</p>

</div>

<br>
<br>
<div style="background:rgba(255,255,255,0.5);padding:10px 20px 10px 20px; color: black; border-radius: 5px;">
<p >
 	<b>Hobby:<br></b>
 	My usual hobby, obviously, would always be something to do with computers or anything related to modern technology.
 	<br>Most of these would probably be computer games.
 	 But on the contrary I am also very picky with games. Below are the lists of games I have played, but believe me, they might only be few but I got addicted to some of them for more than 3 years. 
 	 <div class="container-fluid">
 	 	<div class="row">
 	 		<div class="col-lg-6">
 	 		<ul class="ch-grid">
	<li>
<div class="ch-item ch-img-2">
			<div class="ch-info ch-info2">
			<br>
				<h3>CS:GO</h3>
				

			</div>
		</div>
	</li>
	</ul>
 	 			
 	 		</div>
 	 		<div class="col-lg-6">
 	 		<ul class="ch-grid">
	<li>
<div class="ch-item ch-img-3">
			<div class="ch-info">
			<br>
				<h3>Counter Strike<br>Source</h3>
				

			</div>
		</div>
	</li>
	</ul>
 	 			
 	 		</div>
 	 	</div>
 	 	<div class="row">
 	 		<div class="col-lg-6">
 	 		<ul class="ch-grid">
	<li>
<div class="ch-item ch-img-4">
			<div class="ch-info">
			<br>
				<h3>League of Legends</h3>
				

			</div>
		</div>
	</li>
	</ul>
 	 			
 	 		</div>
 	 		<div class="col-lg-6">
 	 		<ul class="ch-grid">
	<li>
<div class="ch-item ch-img-5">
			<div class="ch-info ch-info2">
			<br>
				<h3>DOTA 2</h3>
				

			</div>
		</div>
	</li>
	</ul>
 	 			
 	 		</div>
 	 	</div>
 	 </div>

</p>

</div>

<br>
<br>
<div style="background:rgba(0,0,0,0.5);padding:10px 20px 10px 20px; color: white; border-radius: 5px;">
<h1>Wanna know more about me?</h1>
<p >

 	<b>Likes and Dislikes:<br></b>
 	I have a couple of things I like and dislike. First, I like hanging out with my family instead of friends. That means, I prefer to stay at home instead of going out. I would probably be eating when I'm get lonely and sad. I sometimes like to crack very corny jokes at serious moments. And to tell you, this is an exact example of a loser so I suggest you go out, make some friends and don't follow what I do. But moving on, most likely I would really love it if someone would treat me for desserts, or better yet, if someone could buy me a drink from <i>ChaTime</i>. I would also like it if someone could buy me an Ice cream sundae from <i>Burger King</i>!
 	<br>I mean common' their sundae is great!!
 	<br><br>So those are the things I would really like, but on the contrary I would like to share my dislikes. Such things include Super duper, extra, very long, hard <b>EXAMS</b>. I also do not like doing assignments especially when the topic is not discussed very well in class! ZZZzzzzzZZz... They stress me out. I also hate it when I waste my time on something I was forced to do and yes, we all may have gone through this. But the thing I really hate the most is spending $MONEY$ on useless things (Food is exceptional since food is life). <br>I mean, why waste money on useless materialistic things when you can buy more food?!



</p>

<blockquote class="blockquote-reverse">
  <p class="mb-0">“You can be miserable before you have a cookie and you can be miserable after you eat a cookie but you can't be miserable while you are eating a cookie.”</p>
  <cite title="Source Title">―by <b>Ina Garten</b></cite>
</blockquote>

</div>
