<% provide(:title, "Home")  %>
<div class="center  welcome-page">
	  
	<div class="container-fluid welcome-container">
		  <h1>Welcome to my Portfolio</h1>

		  <h2>
		    This is the home page for the
		    <a href="http://www.railstutorial.org/" style="color: lightgreen;">My Sample Portfolio</a>
		    I have made. <br>If you want to know more about me, please dont hesitate to click the button below.
		  </h2>

		  <%= link_to "Know more about me!", about_path, class: "btn btn-lg btn-default" %>
		  <%= link_to "My Projects", projects_path,class: "btn btn-lg btn-info" %>
		  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>

	</div>
</div>

