<% provide(:title, "Home")  %>

<h1>Projects</h1>
<div style="background:rgba(255,255,255, 0.3);padding:10px 20px 10px 20px; color: black; border-radius: 5px;">
<p>After 3 Years in a programming course I was able to make a couple of projects. Below are the lists of Web Application projects I have made.</p>

	<div class="container-fluid" style="background:rgba(255,255,255, 0.3);padding:30px 10px 30px 10px; color: white; border-radius: 5px;">
		<div class="row">
	 	 		<div class="col-lg-6">
	 	 			<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
					    <div class="hovereffect">
					       <%= image_tag("taxilos.png", :class => "img-responsive" ) %>
					        <div class="overlay">
					           <h2>Taxi Los Chilangos</h2>
					           <p>Los Chilangos was started to serve the public and create an amazing service to serve the Tampa Bay area. </p>
					           <a class="info" href="http://www.taxisloschilangos.com">link here</a>
					        </div>
					    </div>
					</div>
	 	 		</div>
	 	 		<div class="col-lg-6">
	 	 			<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
					    <div class="hovereffect">
					        <%= image_tag("war.png", :class => "img-responsive", :style => "height:345px;") %>
					        <div class="overlay">
					           <h2>War Is An Ugly Thing</h2>
					           <p>In the spirit of Colonel Fisher We have created common ground, a format for conservatives and liberals, Republicans and Democrats to discuss the responsibility each of us has a citizen soldier and our collective responsibility to our voluntary servicemen and women. </p>
					           <a class="info" href="http://www.warisanuglything.com/">link here</a>
					        </div>
					    </div>
					</div>
	 	 			
	 	 		</div>
	 	 	</div>
	 	 	<br>
	 	 	<!-- <div class="row">
	 	 		<div class="col-lg-6">
	 	 			<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
					    <div class="hovereffect">
					       <%= image_tag("csgo.jpg", :class => "img-responsive" ) %>
					        <div class="overlay">
					           <h2>Hover effect 3</h2>
					           <a class="info" href="#">link here</a>
					        </div>
					    </div>
					</div>
	 	 		</div>
	 	 		<div class="col-lg-6">
	 	 			<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
					    <div class="hovereffect">
					        <%= image_tag("csgo.jpg", :class => "img-responsive" ) %>
					        <div class="overlay">
					           <h2>Hover effect 3</h2>
					           <a class="info" href="#">link here</a>
					        </div>
					    </div>
					</div>
	 	 			
	 	 		</div>
	 	 	</div> -->
 	 </div>
</div>
<h1>Skill Set</h1>

<div class="container-fluid" style="background:rgba(255,255,255, 0.3);padding:30px 10px 30px 10px; color: white; border-radius: 5px;">
	<div class="row">
		<div class="col-md-4">
			<ul class="ch-grid">
				<li>
					<div class="ch-item" style="background-image: url('http://www.rubyxml.org/wp-content/uploads/2015/07/services-icons-ruby-@2x.png') !important; background-repeat: no-repeat; background-size: 100% 100%;">
						<div class="ch-info ch-info2">
							<br>
							<h3>Ruby on Rails</h3>
							

						</div>
					</div>
				</li>
			</ul>
			 <div class="progress">
				  <div class="progress-bar progress-bar-warning progress-bar-striped active" role="progressbar"
				  aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" style="width:30%">
				    LEVEL
				  </div>
				</div>
		</div>
		<div class="col-md-4">
			<ul class="ch-grid">
				<li>
					<div class="ch-item" style="background-image: url('https://prismic-io.s3.amazonaws.com/avisi/ec8dd3ad84d3692bc0b6b02cbedadedb31ae8360_expertises-icon-java-500.png') !important; background-repeat: no-repeat; background-size: 100% 100%;">
						<div class="ch-info">
							<br>
							<h3>Java</h3>
							

						</div>
					</div>
				</li>
			</ul>
			<div class="progress">
				  <div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar"
				  aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width:80%">
				    LEVEL
				  </div>
				</div>
		</div>
		<div class="col-md-4">
			<ul class="ch-grid">
				<li>
					<div class="ch-item" style="background-image: url('https://www.colourbox.com/preview/11100949-php-sign-icon-programming-language-symbol.jpg') !important; background-repeat: no-repeat; background-size: 100% 100%;">
						<div class="ch-info ch-info2">
							<br>
							<h3>PHP + MySql</h3>
							

						</div>
					</div>
				</li>
			</ul>
			<div class="progress">
				  <div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar"
				  aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:70%">
				    LEVEL
				  </div>
				</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-4">
			<ul class="ch-grid">
				<li>
					<div class="ch-item" style="background-image: url('https://pbs.twimg.com/profile_images/59801350/logo.png') !important; background-repeat: no-repeat; background-size: 100% 100%;">
						<div class="ch-info ch-info2">
							<br>
							<h3>WordPress</h3>
							

						</div>
					</div>
				</li>
			</ul>
			<div class="progress">
				  <div class="progress-bar progress-bar-striped active" role="progressbar"
				  aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:40%">
				    LEVEL
				  </div>
				</div>
		</div>
		<div class="col-md-4">
			<ul class="ch-grid">
				<li>
					<div class="ch-item" style="background-image: url('https://www.easyprogramming.net/logo/c.png') !important; background-repeat: no-repeat; background-size: 100% 100%;">
						<div class="ch-info ch-info">
							<br>
							<h3>C++</h3>
							

						</div>
					</div>
				</li>
			</ul>
			<div class="progress">
				  <div class="progress-bar progress-bar-striped active" role="progressbar"
				  aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width:60%">
				    LEVEL
				  </div>
				</div>
		</div>
		
		<div class="col-md-4">
			<ul class="ch-grid">
				<li>
					<div class="ch-item" style="background-image: url('http://www.inheritx.com/wp-content/uploads/2016/10/code-igniter-logo.png') !important; background-repeat: no-repeat; background-size: 100% 100%;">
						<div class="ch-info ch-info2">
							<br>
							<h3>CodeIgniter</h3>
							

						</div>
					</div>
				</li>
			</ul>
			<div class="progress">
				  <div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar"
				  aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width:80%">
				    LEVEL
				  </div>
				</div>
		</div>
	</div>
</div>

<h1>Other Skill Set</h1>

<div class="container-fluid" style="background:rgba(255,255,255, 0.3);padding:30px 10px 30px 10px; color: white; border-radius: 5px;">
	<div class="row">
		<div class="col-md-4">
			<ul class="ch-grid">
				<li>
					<div class="ch-item" style="background-image: url('http://icons.iconarchive.com/icons/xenatt/the-circle/256/App-Adobe-Photoshop-icon.png') !important; background-repeat: no-repeat; background-size: 100% 100%;">
						<div class="ch-info ch-info2">
							<br>
							<h3>Adobe Photoshop</h3>
							

						</div>
					</div>
				</li>
			</ul>
		</div>
		<div class="col-md-4">
			<ul class="ch-grid">
				<li>
					<div class="ch-item" style="background-image: url('http://icons.iconarchive.com/icons/xenatt/the-circle/512/App-Adobe-After-Effect-icon.png') !important; background-repeat: no-repeat; background-size: 100% 100%;">
						<div class="ch-info">
							<br>
							<h3>Adobe After Effects</h3>
							

						</div>
					</div>
				</li>
			</ul>
		</div>
		<div class="col-md-4">
			<ul class="ch-grid">
				<li>
					<div class="ch-item" style="background-image: url('http://icons.iconarchive.com/icons/xenatt/the-circle/512/App-Adobe-Illustrator-icon.png') !important; background-repeat: no-repeat; background-size: 100% 100%;">
						<div class="ch-info ch-info2">
							<br>
							<h3>Adobe Illustrator</h3>
							

						</div>
					</div>
				</li>
			</ul>
		</div>
	</div>
</div>