<% provide(:title, "About") %>

<h1>My Status</h1>

<div style="background:rgba(0,0,0,0.5);padding:10px 20px 10px 20px; color: white; border-radius: 5px;">
<p >
 	<b>Being A Carolinian Student:<br></b>
 	As a carolinian student I am very fortunate to study at such school where I can experience and improve my skills before I am thrown out into the real world. As a student I also have difficulties, and such difficulties are the reason why I am still striving hard. These are also the difficulties that mold and shape me. Such difficulties become my core experience which will help me through out my careers in the future.



</p>

</div>

<div style="background:rgba(0,0,0,0.5);padding:10px 20px 10px 20px; color: white; border-radius: 5px;">
<p >
 	<b>Why I took BS-IT as a Course:<br></b>
 	BS-IT wasn't really my first choice after I graduated from High School but since it was trending and offered me very many opportunities in the future so I decided to take it. My dad also encourged me to take this course so I went on with it. Throughout my life in this course, I have had very many difficulties especially during my adjustment years in the programming world during my 1st and 2nd years. But practice make perfect so I still have a long way ahead of me. 



</p>

</div>