<footer class="footer">
  <small>
    This project is based on <a href="http://www.railstutorial.org/">Ruby on Rails Tutorial</a>
    by <a href="http://www.michaelhartl.com/">Michael Hartl</a> and IT 192 Ruby on Rails class.

  </small>
  <small class="pull-right">Copyright @ 2016-2017 | Designed by Kyle Yap</small>
  
  
</footer>